header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hwb(0 100% 0%);
    border-bottom: 1px solid #ffffff;
}
header img {
    height: 90px;
}
header p {
    margin: 0;
}
